## Conexion a MYSQL

---

In [1]:
# permitira interactuar con algunas Bases de datos
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.43-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.2.4-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (4.1 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.12/site-packages (from sqlalchemy) (4.14.1)
Downloading sqlalchemy-2.0.43-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 21.2 MB/s eta 0:00:00
Downloading greenlet-3.2.4-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (607 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 607.6/607.6 kB 18.1 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [sqlalchemy]2 [sqlalchemy]
Successfully installed greenlet-3.2.4 sqlalchemy-2.0.43

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [3]:
# Conectar SQLAlchemy a las BD MySQL
!pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.2.7.tar.gz (91 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (pyproject.toml) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.2.7-cp312-cp312-linux_x86_64.whl size=134053 sha256=78ba8539cb9a419262888a6cefe8e54377eef2b5f53646885ff7264859917cc9
  Stored in directory: /home/codespace/.cache/pip/wheels/27/95/18/7f176fffd46629e710c04c810b9c4d7d4358fe7c96a7d2306d
Successfully built mysqlclient
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.7

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [4]:
import pandas as pd
import sqlalchemy as db

In [5]:
# El motor de BD para conectarnos a Mysql
# Va a almacenar la configuracion en una cadena de conexion
engine = db.create_engine("mysql://root:root@127.0.0.1:3310/retail_db")

conn = engine.connect()

In [8]:
# Forma 1: Leer datos
departments_df = pd.read_sql('select * from departments', conn)

departments_df.head()

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors

In [ ]:
# Forma 2: directamente con el nombre de la tabla
departments_df = pd.read_sql('departments', conn)

departments_df.head()

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors

In [21]:
departments_df.to_sql('departments_pandas', conn, if_exists='replace')

6

In [19]:
departments= pd.read_sql('departments_pandas', conn)

departments

   index  department_id department_name
0      0              2         Fitness
1      1              3        Footwear
2      2              4         Apparel
3      3              5            Golf
4      4              6        Outdoors
5      5              7        Fan Shop

In [22]:
departments_df.to_sql('departments_pandas_v2', conn, if_exists='replace', index=False )

6

In [23]:
departments= pd.read_sql('departments_pandas_v2', conn)

departments

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors
5              7        Fan Shop